.slide {
  overflow: visible;
  &__header {
    position: relative;
    overflow: visible;
    &__title {
      /* position: relative; */
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      color: #fff;
      border: none;
      height: 87%;
      width: 97%;
      text-transform: uppercase;
      font-weight: 700;
      transition: all 100ms;
      /* transform: rotateZ(-1deg); */
      z-index: 10;
      /* text-align: center; */
      &::before {
        content: " ";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-color: #000000;
        transform-origin: right center;
        transform: scaleX(1);
        transition: transform 150ms;
        z-index: -1;
      }
    }
    &__image {
      position: relative;
      height: 400px;
      width: 100%;
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }
  }
  .links {
    display: flex;
    justify-content: center;
    gap: 18px;
    list-style-type: none;

    &__item .icon {
      /* color: #fff; */
      height: 24px;
      width: 24px;
    }
  }

  &.hidden {
    display: none;
  }
}
