@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  background-color: #000;
  color: #fff;

  font-family: "Noto Sans Bengali", sans-serif;
  font-weight: 500;
}
