.App {
  background-color: #000000;
  position: relative;
}

.focus {
  color: yellow;
}

.first-letter {
  display: inline-block;
  color: rgb(237, 27, 37);
  padding: 4px 5px;
  border: 1px solid #fff;
  transform: rotateZ(-10deg);
  text-transform: uppercase;
  background-color: #000000;
}

.first-letter::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 2px solid #000000;
  height: 80%;
  width: 80%;
  z-index: -1;
}

.lower-case {
  display: inline-block;
  color: white;
  padding: 2px 5px;
  border: 2px solid #fff;
  transform: rotateZ(10deg);
  background-color: #000000;
}

.double-letter {
  display: inline-block;
  color: #ed1b25;
  padding: 4px 5px;
  border: 2px solid #fff;
  transform: rotateZ(-10deg);
  text-transform: uppercase;
  background-color: #000000;
}

.icon {
  color: yellow;
}

.skill {
  color: yellow;
  font-style: normal;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: -1rem;
  content: "";
  background-color: #fff;
  width: 150px;
  height: 40px;
  transform-origin: left center;
  transform: skewX(-1deg) skewY(-3deg) rotateZ(-3deg);
  z-index: 10;
}

.text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  /* content: ""; */
  background-color: #fff;
  /* width: 150px; */
  /* height: 40pxd; */
  transform: skewX(-5deg) skewY(-3deg);
  z-index: 1;
}

/* .section--about .text-wrapper {
  z-index: 999;
} */

.section--about .card {
  width: 40%;
}

.section--about .container {
  flex-direction: column;
  width: auto;
  padding: 0 1rem;
  /* justify-content: center; */
  /* overflow: hidden; */
}

.section--about .card--left {
  align-self: flex-start;
}

.section--about .card--right {
  align-self: flex-end;
}

.progress-container {
  /* content: " ";
  position: fixed;
  top: 0;
  left: 50%;
  width: 8px;
  height: 0;
  height: 100%;
  background: yellow;
  z-index: 999;
  transform-origin: top center;
  transform: scaleX(0); */
  position: absolute;
  top: 0;
  left: 50%;
  /* right: 0; */
  /* height: 10px; */
  height: 100%;
  width: 10px;
  /* width: 400px; */
  background: yellow;
  transform-origin: top center;
  z-index: 999;
}

/* .progress-bar {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: gold;
  height: 100%;
} */

.viewport {
  /* width: 70%; */
  /* overflow: visible; */
  /* aspect-ratio: 1080/1920; */
  width: 70vw;
  /* height: 39.375vw; */
  overflow: visible;
  position: relative;
  /* max-width: 70%; */
}

.select {
  width: 50%;
}

.select .button-wrapper {
  width: 100%;
  height: 75px;
}

.slide-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  list-style-type: none;
}

.svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.section--contact .container {
  justify-content: space-around;
}

.section--contact .decoration {
  width: 40vw;
}

.section--contact .decoration__image {
  position: relative;
  height: 100%;
}

.section--contact .decoration__image .image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 70vw;
  height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skewY(1deg) skewX(1deg);
  z-index: 999;
}

.modal-bg {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ed1b25;
  z-index: 980;
  opacity: 0.5;
}

.modal::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) skewY(-1deg) skewX(-2deg);
  width: 95%;
  height: 95%;
  background-color: black;
  z-index: -1;
}

.modal .textarea {
  height: 20vh;
}

.modal .contact-form {
  width: 40vw;
}
