.App {
  background-color: #000000;
  position: relative;
}

.focus {
  color: yellow;
}

.first-letter {
  display: inline-block;
  color: rgb(237, 27, 37);
  padding: 4px 5px;
  border: 1px solid #fff;
  transform: rotateZ(-10deg);
  text-transform: uppercase;
  background-color: #000000;
}

.first-letter::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 2px solid #000000;
  height: 80%;
  width: 80%;
  z-index: -1;
}

.lower-case {
  display: inline-block;
  color: white;
  padding: 2px 5px;
  border: 2px solid #fff;
  transform: rotateZ(10deg);
  background-color: #000000;
}

.double-letter {
  display: inline-block;
  color: #ed1b25;
  padding: 4px 5px;
  border: 2px solid #fff;
  transform: rotateZ(-10deg);
  text-transform: uppercase;
  background-color: #000000;
}

.icon {
  color: yellow;
}

.skill {
  color: yellow;
  font-style: normal;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: -1rem;
  content: "";
  background-color: #fff;
  width: 150px;
  height: 40px;
  transform-origin: left center;
  transform: skewX(-1deg) skewY(-3deg) rotateZ(-3deg);
  z-index: 10;
}

.text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  /* content: ""; */
  background-color: #fff;
  /* width: 150px; */
  /* height: 40pxd; */
  transform: skewX(-5deg) skewY(-3deg);
  z-index: 1;
}

/* .section--about .text-wrapper {
  z-index: 999;
} */

.section--about .card {
  width: 40%;
}

.section--about .container {
  flex-direction: column;
  width: auto;
  padding: 0 1rem;
  /* justify-content: center; */
  /* overflow: hidden; */
}

.section--about .card--left {
  align-self: flex-start;
}

.section--about .card--right {
  align-self: flex-end;
}

.progress-container {
  /* content: " ";
  position: fixed;
  top: 0;
  left: 50%;
  width: 8px;
  height: 0;
  height: 100%;
  background: yellow;
  z-index: 999;
  transform-origin: top center;
  transform: scaleX(0); */
  position: absolute;
  top: 0;
  left: 50%;
  /* right: 0; */
  /* height: 10px; */
  height: 100%;
  width: 10px;
  /* width: 400px; */
  background: yellow;
  transform-origin: top center;
  z-index: 999;
}

/* .progress-bar {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: gold;
  height: 100%;
} */

.viewport {
  /* width: 70%; */
  /* overflow: visible; */
  /* aspect-ratio: 1080/1920; */
  width: 70vw;
  /* height: 39.375vw; */
  overflow: visible;
  position: relative;
  /* max-width: 70%; */
}

.select {
  width: 50%;
}

.select .button-wrapper {
  width: 100%;
  height: 75px;
}

.slide-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  list-style-type: none;
}

.svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.section--contact .container {
  justify-content: space-around;
}

.section--contact .decoration {
  width: 40vw;
}

.section--contact .decoration__image {
  position: relative;
  height: 100%;
}

.section--contact .decoration__image .image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 70vw;
  height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skewY(-1deg);
  z-index: 999;
  display: none;
  /* border: solid 5px#fff; */
  /* border-width: 4px 4px 10px 10px; */
}

.modal-bg {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ed1b25;
  z-index: 980;
  opacity: 0.5;
  display: none;
}

.open.modal-bg {
  display: block;
}

.open.modal {
  display: flex;
}

.modal::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) skewY(-1deg) skewX(-1deg);
  width: 97%;
  height: 97%;
  background-color: black;
  z-index: -1;
}

.modal .textarea {
  height: 20vh;
}

.modal .contact-form {
  width: 40vw;
}

.close-btn {
  position: absolute;
  top: -20px;
  right: -20px;
  height: 60px;
  width: 60px;
  background-color: #fff;
  border: 5px solid #fff;
  overflow: hidden;
  cursor: pointer;

  /* transform: skewY(-5deg); */
}

.close-btn::before {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  width: 100%;
  height: 100%;
  background-color: #ed1b25;
  transform-origin: center center;
  border-radius: 100%;
  transform: scale(0);
  transition: transform 300ms;
  overflow: hidden;
}

/* .close-btn:hover {
  background-color: #ed1b25;
  transition: background-color 300ms;
} */

.close-btn:hover::before {
  transform: scale(1);
  transition: transform 300ms;
}

.cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
  height: 110%;
  background-image: url("../icons/close-btn.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 999;
}
